Repository romdj/3point-game-nhl-standing: changes, and which pre-commit hooks are due for each by the changed paths.
All: graphql-lint, graphql-typecheck, graphql-test, svelte-lint, svelte-typecheck, svelte-test

graphql-lint:
  name: GraphQL Server ESLint
  entry: bash -c 'cd graphql-server && npm run lint'
  language: system
  pass_filenames: false

graphql-typecheck:
  name: GraphQL Server TypeScript Check
  entry: bash -c 'cd graphql-server && npm run check'
  language: system
  pass_filenames: false

graphql-test:
  name: GraphQL Server Tests
  entry: bash -c 'cd graphql-server && npm test'
  language: system
  pass_filenames: false

svelte-lint:
  name: Svelte Frontend ESLint
  entry: bash -c 'cd front-end/svelte/international-nhl-standings && npm run lint'
  language: system
  pass_filenames: false

svelte-typecheck:
  name: Svelte Frontend TypeScript Check
  entry: bash -c 'cd front-end/svelte/international-nhl-standings && npm run check'
  language: system
  pass_filenames: false

svelte-test:
  name: Svelte Frontend Tests
  entry: bash -c 'cd front-end/svelte/international-nhl-standings && npm test'
  language: system
  pass_filenames: false

fix: resolve pipeline issues and validate GitHub workflows locally
  front-end/svelte/international-nhl-standings/eslint.config.js
  front-end/svelte/international-nhl-standings/src/api/standingsAPI.ts
  front-end/svelte/international-nhl-standings/src/components/Table.svelte
  front-end/svelte/international-nhl-standings/src/stores/standingsStore.spec.ts
  front-end/svelte/international-nhl-standings/src/utils/sorting.ts
  front-end/svelte/international-nhl-standings/src/utils/standingsOrganizer.ts
  graphql-server/eslint.config.js
  graphql-server/jest.config.js
  graphql-server/package.json
Due: graphql-lint, graphql-typecheck, graphql-test, svelte-lint, svelte-typecheck, svelte-test

fix: clean up TypeScript codebase and improve Jest configuration
  .gitignore
  graphql-server/jest.config.js
  graphql-server/package-lock.json
  graphql-server/package.json
  graphql-server/src/config.js
  graphql-server/src/graphql/index.js
  graphql-server/src/graphql/resolvers/queryResolvers.js
  graphql-server/src/graphql/schemas/querySchema.js
  graphql-server/tests/graphql.disabled/resolvers/queryResolvers.spec.js
  graphql-server/tests/graphql.disabled/resolvers/queryResolvers.spec.ts
  graphql-server/tests/graphql.disabled/schemas/querySchema.spec.js
  graphql-server/tests/graphql.disabled/schemas/querySchema.spec.ts
  graphql-server/tests/placeholder.test.ts
Due: graphql-lint, graphql-typecheck, graphql-test

fix: disable Codecov upload in GitHub Actions workflow
  .github/workflows/build.yml
Due: none

fix: disable coverage for windows build
  .github/workflows/build.yml
Due: none

fix: use double quotes in ESLint command for cross-platform compatibility
  graphql-server/package.json
Due: none

fix: disable PR coverage pasting into PRs
  .github/workflows/coverage.yml
Due: none

feat: implement NHL season date logic with proper business rules
  front-end/svelte/international-nhl-standings/src/utils/seasonUtils.spec.ts
  front-end/svelte/international-nhl-standings/src/utils/seasonUtils.ts
Due: svelte-lint, svelte-typecheck, svelte-test

feat: integrate season logic into frontend components
  front-end/svelte/international-nhl-standings/src/api/standingsAPI.ts
  front-end/svelte/international-nhl-standings/src/components/ViewSelector.svelte
Due: svelte-lint, svelte-typecheck, svelte-test

fix: resolve GraphQL server ESM startup issues
  graphql-server/package-lock.json
  graphql-server/package.json
  graphql-server/src/graphql/schemas/querySchema.ts
  graphql-server/tsconfig.json
Due: graphql-lint, graphql-typecheck, graphql-test

feat: add comprehensive development tools infrastructure
  dev-tools/README.md
  dev-tools/api/graphql-tester.ts
  dev-tools/debugging/frontend-debugger.ts
  dev-tools/package.json
  dev-tools/scripts/test-current-issue.ts
  dev-tools/utils/logger.ts
Due: none

feat: implement post-season edge case handling for current season standings
  dev-tools/package-lock.json
  front-end/svelte/international-nhl-standings/src/config/seasons.json
  front-end/svelte/international-nhl-standings/src/utils/seasonUtils.spec.ts
  front-end/svelte/international-nhl-standings/src/utils/seasonUtils.ts
Due: svelte-lint, svelte-typecheck, svelte-test

fix: enable sorting functionality in conference and wildcard views
  front-end/svelte/international-nhl-standings/src/components/Table.svelte
  front-end/svelte/international-nhl-standings/src/utils/standingsOrganizer.ts
Due: svelte-lint, svelte-typecheck, svelte-test

fix: resolve division view not displaying teams properly
  front-end/svelte/international-nhl-standings/src/components/Table.svelte
Due: svelte-lint, svelte-typecheck, svelte-test

refactor: clean up console.log statements in GraphQL resolvers
  graphql-server/src/graphql/resolvers/queryResolvers.ts
  graphql-server/src/graphql/schemas/querySchema.ts
Due: graphql-lint, graphql-typecheck, graphql-test

refactor: add proper TypeScript types for NHL API responses
  graphql-server/src/graphql/resolvers/queryResolvers.ts
  graphql-server/src/types/nhl-api.types.ts
Due: graphql-lint, graphql-typecheck, graphql-test

refactor: create unified constants for magic numbers and strings
  debug-data-flow.js
  front-end/svelte/international-nhl-standings/src/components/Table.svelte
  front-end/svelte/international-nhl-standings/src/constants/index.ts
  front-end/svelte/international-nhl-standings/src/utils/standingsOrganizer.ts
  graphql-server/src/constants/index.ts
  graphql-server/src/graphql/resolvers/queryResolvers.ts
Due: graphql-lint, graphql-typecheck, graphql-test, svelte-lint, svelte-typecheck, svelte-test

refactor: add environment variables for API URLs and configuration
  README.md
  front-end/svelte/international-nhl-standings/.env.example
  front-end/svelte/international-nhl-standings/src/api/graphqlClient.ts
  front-end/svelte/international-nhl-standings/src/config/env.ts
  graphql-server/.env.example
  graphql-server/package-lock.json
  graphql-server/package.json
  graphql-server/server.ts
  graphql-server/src/config/env.ts
  graphql-server/src/constants/index.ts
Due: graphql-lint, graphql-typecheck, graphql-test, svelte-lint, svelte-typecheck, svelte-test

Stage 5: Extract Table component into smaller components
  front-end/svelte/international-nhl-standings/src/components/Table.svelte
  front-end/svelte/international-nhl-standings/src/components/Table/ConferenceCard.svelte
  front-end/svelte/international-nhl-standings/src/components/Table/StandingsTable.svelte
  front-end/svelte/international-nhl-standings/src/components/Table/TableHeader.svelte
  front-end/svelte/international-nhl-standings/src/components/Table/TableRow.svelte
  front-end/svelte/international-nhl-standings/src/components/Table/TableSection.svelte
  front-end/svelte/international-nhl-standings/src/components/Table/index.ts
  front-end/svelte/international-nhl-standings/src/routes/+page.svelte
  graphql-server/eslint.config.js
Due: graphql-lint, graphql-typecheck, graphql-test, svelte-lint, svelte-typecheck, svelte-test

Stage 6: Add error boundaries to catch runtime errors
  front-end/svelte/international-nhl-standings/src/api/standingsAPI.ts
  front-end/svelte/international-nhl-standings/src/components/ErrorBoundary.svelte
  front-end/svelte/international-nhl-standings/src/components/ErrorDisplay.svelte
  front-end/svelte/international-nhl-standings/src/routes/+page.svelte
  front-end/svelte/international-nhl-standings/src/stores/errorStore.ts
  front-end/svelte/international-nhl-standings/src/utils/errorHandler.ts
Due: svelte-lint, svelte-typecheck, svelte-test

Stage 7: Implement proper logging system
  front-end/svelte/international-nhl-standings/src/api/standingsAPI.ts
  front-end/svelte/international-nhl-standings/src/routes/+page.svelte
  front-end/svelte/international-nhl-standings/src/utils/errorHandler.ts
  front-end/svelte/international-nhl-standings/src/utils/logger.ts
  graphql-server/package-lock.json
  graphql-server/package.json
  graphql-server/src/graphql/resolvers/queryResolvers.ts
  graphql-server/src/utils/logger.ts
Due: graphql-lint, graphql-typecheck, graphql-test, svelte-lint, svelte-typecheck, svelte-test

Fix 500 error: Replace crypto.randomUUID() with cross-browser compatible UUID generator
  frontend/src/components/ErrorBoundary.svelte
  frontend/src/stores/errorStore.ts
  graphql-server/server.ts
Due: graphql-lint, graphql-typecheck, graphql-test

Disable SSR to fix window undefined error
  frontend/src/routes/+layout.js
Due: none

Fix CORS issues: Update server to properly handle cross-origin requests
  graphql-server/server.ts
Due: graphql-lint, graphql-typecheck, graphql-test

chore: updated paths for the coverage pipeline
  .github/workflows/coverage.yml
Due: none

chore: updated paths for the coverage pipeline
  .claude/claude.md
  .github/workflows/build.yml
  .github/workflows/coverage.yml
  .pre-commit-config.yaml
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  README.md
  dev-tools/debugging/frontend-debugger.ts
  dev-tools/scripts/test-current-issue.ts
Due: none

debug: understanding why folder cannot be navigated to
  .github/workflows/coverage.yml
Due: none

fix: corrected wrong path front-end -> frontend
  .claude/claude.md
  .github/CODEOWNERS
  .github/workflows/build.yml
  .pre-commit-config.yaml
  .vscode/launch.json
  .vscode/settings.json
  README.md
  dev-tools/debugging/frontend-debugger.ts
  dev-tools/scripts/test-current-issue.ts
Due: none

fix: corrected wrong path front-end -> frontend
  .github/workflows/coverage.yml
  .pre-commit-config.yaml
  .vscode/launch.json
  .vscode/tasks.json
  README.md
Due: none

chore: updated paths for the coverage pipeline (#63)
  .claude/claude.md
  .github/CODEOWNERS
  .github/workflows/build.yml
  .github/workflows/coverage.yml
  .pre-commit-config.yaml
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  README.md
  dev-tools/debugging/frontend-debugger.ts
  dev-tools/scripts/test-current-issue.ts
Due: none

refactor: upgrade frontend to Vite 7.0.5 and Svelte 5
  frontend/package-lock.json
  frontend/package.json
  frontend/vite.config.ts
  frontend/vitest.config.ts
  graphql-server/src/graphql/resolvers/queryResolvers.ts
  graphql-server/tsconfig.json
Due: graphql-lint, graphql-typecheck, graphql-test

refactor: consolidate configuration files
  frontend/eslint.config.js
  graphql-server/eslint.config.js
  graphql-server/tsconfig.json
  shared/eslint.config.base.js
  shared/package-lock.json
  shared/package.json
  shared/tsconfig.base.json
  tsconfig.json
Due: graphql-lint, graphql-typecheck, graphql-test

refactor: implement comprehensive environment configuration
  .env.example
  frontend/src/config/env.ts
  graphql-server/server.ts
  graphql-server/src/config/env.ts
  shared/env.config.ts
Due: graphql-lint, graphql-typecheck, graphql-test

refactor: implement monorepo structure and eliminate duplicate dependencies
  frontend/package.json
  graphql-server/package.json
  package-lock.json
  package.json
  shared/package-lock.json
  shared/package.json
Due: none

feat: update GitHub Actions workflows for monorepo structure
  .github/workflows/README.md
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/dependency-review.yml
  .github/workflows/deploy.yml
  .github/workflows/release.yml
  .github/workflows/update-dependencies.yml
Due: none

feat: implement Cupcake and Sunset DaisyUI themes with dark mode toggle
  frontend/src/app.css
  frontend/src/app.html
  frontend/src/components/Table/StandingsTable.svelte
  frontend/src/components/Table/TableHeader.svelte
  frontend/src/components/Table/TableRow.svelte
  frontend/src/components/Table/TableSection.svelte
  frontend/src/components/ThemeToggle.svelte
  frontend/src/components/ViewSelector.svelte
  frontend/src/routes/+layout.svelte
  frontend/src/routes/+page.svelte
  frontend/src/stores/themeStore.spec.ts
  frontend/src/stores/themeStore.ts
  frontend/tailwind.config.js
Due: none

feat: add comprehensive Docker support for containerized deployment
  .dockerignore
  Dockerfile
  Dockerfile.frontend
  Dockerfile.server
  docker-compose.dev.yml
  docker-compose.yml
  docker/README.md
Due: none

feat: enhance GitHub Actions workflows with Docker CI/CD pipelines
  .github/workflows/README.md
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/docker-ci.yml
  .github/workflows/docker-deploy.yml
Due: none

refactor: extract comprehensive business logic layer with clean architecture
  frontend/src/business/index.ts
  frontend/src/business/services/StandingsGroupingService.ts
  frontend/src/business/services/StandingsService.spec.ts
  frontend/src/business/services/StandingsService.ts
  frontend/src/business/services/StandingsSortingService.ts
  frontend/src/business/usecases/GetOrganizedStandingsUseCase.ts
  frontend/src/business/usecases/GetTeamStandingUseCase.ts
Due: none

Path conditions:
  graphql-lint: any of: ^graphql-server/.*\.(js|ts)$
  graphql-typecheck: any of: ^graphql-server/.*\.(js|ts)$
  graphql-test: any of: ^graphql-server/.*\.(js|ts)$
  svelte-lint: any of: ^front-end/svelte/international-nhl-standings/.*\.(js|ts|svelte)$
  svelte-typecheck: any of: ^front-end/svelte/international-nhl-standings/.*\.(js|ts|svelte)$
  svelte-test: any of: ^front-end/svelte/international-nhl-standings/.*\.(js|ts|svelte)$
