Repository romdj/3point-game-nhl-standing: changes, and which pre-commit hooks are due for each by the changed paths.
All: graphql-lint, graphql-typecheck, graphql-test, svelte-lint, svelte-typecheck, svelte-test

.pre-commit-config.yaml:

repos:
  # General hooks for all file types
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-xml
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: detect-private-key
      - id: no-commit-to-branch
        args: ['--branch', 'main', '--branch', 'master']

  # TypeScript/JavaScript formatting and linting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        files: \.(js|jsx|ts|tsx|json|yaml|yml|md|css|scss|html|svelte)$
        exclude: |
          (?x)^(
            .*\.spec\.(js|ts|jsx|tsx)$|
            .*\.test\.(js|ts|jsx|tsx)$|
            package-lock\.json$|
            \.svelte-kit/.*$|
            dist/.*$|
            build/.*$|
            node_modules/.*$
          )

  # GraphQL Server specific hooks
  - repo: local
    hooks:
      - id: graphql-lint
        name: GraphQL Server ESLint
        entry: bash -c 'cd graphql-server && npm run lint'
        language: system
        files: ^graphql-server/.*\.(js|ts)$
        pass_filenames: false

      - id: graphql-typecheck
        name: GraphQL Server TypeScript Check
        entry: bash -c 'cd graphql-server && npm run check'
        language: system
        files: ^graphql-server/.*\.(js|ts)$
        pass_filenames: false

      - id: graphql-test
        name: GraphQL Server Tests
        entry: bash -c 'cd graphql-server && npm test'
        language: system
        files: ^graphql-server/.*\.(js|ts)$
        pass_filenames: false

  # Svelte Frontend specific hooks
  - repo: local
    hooks:
      - id: svelte-lint
        name: Svelte Frontend ESLint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(js|ts|svelte)$
        pass_filenames: false

      - id: svelte-typecheck
        name: Svelte Frontend TypeScript Check
        entry: bash -c 'cd frontend && npm run check'
        language: system
        files: ^frontend/.*\.(js|ts|svelte)$
        pass_filenames: false

      - id: svelte-test
        name: Svelte Frontend Tests
        entry: bash -c 'cd frontend && npm test'
        language: system
        files: ^frontend/.*\.(js|ts|svelte)$
        pass_filenames: false

  # Security scanning
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']

  # Commit message formatting
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.4.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]

refactor: implement centralized configuration management with AppConfig
  frontend/src/config/AppConfig.ts
  frontend/src/config/index.ts
Due: svelte-lint, svelte-typecheck, svelte-test

refactor: improve component architecture and user experience
  frontend/src/components/Table/PlayoffStatusIndicator.svelte
  frontend/src/components/Table/PositionChangeIndicator.svelte
  frontend/src/components/Table/SectionHeader.svelte
  frontend/src/components/Table/StandingsTable.svelte
  frontend/src/components/Table/TableRow.svelte
  frontend/src/components/Table/TableSection.svelte
  frontend/src/components/UI/ErrorMessage.svelte
  frontend/src/components/UI/LoadingSpinner.svelte
  frontend/src/components/UI/index.ts
  frontend/src/constants/index.ts
  frontend/src/domain/standing.ts
  frontend/src/routes/+page.svelte
  frontend/src/utils/logger.ts
  package.json
Due: svelte-lint, svelte-typecheck, svelte-test

fix: resolve duplicate position numbering display for top 3 teams
  frontend/src/components/Table/PlayoffStatusIndicator.svelte
  frontend/src/components/Table/TableRow.svelte
Due: svelte-lint, svelte-typecheck, svelte-test

chore: removing local debugging paths from git tracking
  .gitignore
Due: none

fix: resolve YAML syntax error in update-dependencies workflow
  .github/workflows/update-dependencies.yml
Due: none

fix: address security vulnerabilities and jest path issues
  .github/workflows/ci.yml
  .github/workflows/dependency-review.yml
  .github/workflows/docker-ci.yml
  .husky/pre-commit
  .husky/pre-push
  graphql-server/package.json
  package.json
Due: none

refactor: drastically simplify CI/CD pipelines with local-first approach
  .github/workflows/README.md
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/dependency-review.yml
  .github/workflows/deploy.yml
  .github/workflows/docker-ci.yml
  .github/workflows/docker-deploy.yml
  .husky/pre-commit
  .husky/pre-push
  package-lock.json
Due: none

fix: update frontend Dockerfile to use correct SvelteKit output path
  Dockerfile.frontend
Due: none

enhance: add clean stage to pre-push hook for reliable builds
  .husky/pre-push
Due: none

fix: prevent husky execution in Docker production build
  Dockerfile.server
Due: none

fix: resolve Docker health check and server startup issues
  Dockerfile.server
  docker-compose.dev.yml
  docker-compose.yml
Due: none

fix: add dedicated health endpoint for Docker health checks
  .husky/pre-push
  Dockerfile.server
  docker-compose.yml
  graphql-server/server.ts
Due: graphql-lint, graphql-typecheck, graphql-test

fix: move server.ts to src directory and fix Docker compilation
  graphql-server/package.json
  graphql-server/src/server.ts
Due: graphql-lint, graphql-typecheck, graphql-test

refactor: strengthen type definitions and extract shared constants
  .github/workflows/ci.yml
  graphql-server/src/config/env.ts
  graphql-server/src/graphql/resolvers/queryResolvers.ts
  graphql-server/src/server.ts
Due: graphql-lint, graphql-typecheck, graphql-test

refactor: improve naming conventions and enhance developer scripts
  graphql-server/src/config.ts
  graphql-server/src/server.ts
Due: graphql-lint, graphql-typecheck, graphql-test

fix: resolve CI build issues with shared constants module resolution
  graphql-server/src/config/env.ts
  graphql-server/src/constants/shared.ts
  graphql-server/src/graphql/resolvers/queryResolvers.ts
  graphql-server/src/server.ts
Due: graphql-lint, graphql-typecheck, graphql-test

refactor: complete all remaining refactoring tasks
  Dockerfile.server
  dev-tools/api/graphql-tester.ts
  dev-tools/debugging/frontend-debugger.ts
  frontend/src/business/services/StandingsService.spec.ts
  frontend/src/business/services/StandingsService.ts
  frontend/src/domain/standing.ts
  frontend/src/routes/health/+server.ts
  frontend/src/utils/sorting.spec.ts
  frontend/src/utils/sorting.ts
  package.json
  shared/constants.ts
Due: svelte-lint, svelte-typecheck, svelte-test

Fix ES module directory import error in GraphQL server
  graphql-server/src/server.ts
Due: graphql-lint, graphql-typecheck, graphql-test

fix: removed health check for docker instances
  .github/workflows/ci.yml
Due: none

chore: added release process and documentation
  RELEASE.md
  frontend/package.json
  graphql-server/package.json
  package.json
  scripts/bump-version.js
  scripts/prepare-release.js
Due: none

chore: added branching strategy documentation
  CONTRIBUTING.md
Due: none

feat: add historical date comparison and team logo integration
  frontend/src/api/standingsAPI.ts
  frontend/src/business/services/StandingsGroupingService.ts
  frontend/src/business/services/StandingsService.spec.ts
  frontend/src/business/services/StandingsService.ts
  frontend/src/components/HistoricalComparison.svelte
  frontend/src/components/Table/StandingsComparisonTable.svelte
  frontend/src/components/Table/TableRow.svelte
  frontend/src/components/ViewSelector.svelte
  frontend/src/domain/standing.ts
  frontend/src/routes/+page.svelte
  frontend/src/stores/standingsStore.spec.ts
  frontend/src/stores/viewStore.ts
  frontend/src/utils/comparisonUtils.ts
  frontend/src/utils/sorting.spec.ts
  frontend/src/utils/standingsOrganizer.spec.ts
  frontend/src/utils/standingsOrganizer.ts
Due: svelte-lint, svelte-typecheck, svelte-test

chore: update package-lock.json dependencies
  package-lock.json
Due: none

feat: finalize semantic-release config and add comprehensive documentation
  .github/workflows/release.yml
  .releaserc.json
  BEST_PRACTICES.md
  NHL_API_DOCUMENTATION.md
  package-lock.json
  scripts/bump-version.js
  scripts/prepare-release.js
Due: none

docs: added feature roadmap for min_per_ppg
  min_per_ppg-roadmap-v2.md
  min_per_ppg-roadmap.md
Due: none

feat: implement minutes per powerplay goal statistic
  frontend/src/api/standingsAPI.ts
  frontend/src/components/Table/ConferenceCard.svelte
  frontend/src/components/Table/StandingsTable.svelte
  frontend/src/components/Table/TableHeader.svelte
  frontend/src/components/Table/TableRow.svelte
  frontend/src/components/Table/TableSection.svelte
  frontend/src/constants/index.ts
  frontend/src/domain/standing.ts
  graphql-server/src/graphql/index.ts
  graphql-server/src/graphql/resolvers/queryResolvers.ts
  graphql-server/src/graphql/schemas/schema.graphql
  graphql-server/src/services/powerplayService.ts
  graphql-server/src/types/nhl-api.types.ts
  graphql-server/src/utils/teamMappings.ts
Due: graphql-lint, graphql-typecheck, graphql-test, svelte-lint, svelte-typecheck, svelte-test

feat: enhance powerplay column header tooltips
  frontend/src/components/Table/StandingsTable.svelte
Due: svelte-lint, svelte-typecheck, svelte-test

feat: make powerplay statistics sortable
  frontend/src/api/standingsAPI.ts
  frontend/src/components/Table/TableHeader.svelte
  frontend/src/components/Table/TableRow.svelte
  frontend/src/domain/standing.ts
  frontend/src/utils/sorting.ts
Due: svelte-lint, svelte-typecheck, svelte-test

fix: restore column sorting functionality
  frontend/src/components/Table/TableHeader.svelte
Due: svelte-lint, svelte-typecheck, svelte-test

fix: url and dependencie
  graphql-server/src/constants/index.ts
  package-lock.json
Due: graphql-lint, graphql-typecheck, graphql-test

feat: implement percentile-based color coding for powerplay stats
  frontend/src/components/Table/ConferenceCard.svelte
  frontend/src/components/Table/StandingsTable.svelte
  frontend/src/components/Table/TableRow.svelte
  frontend/src/components/Table/TableSection.svelte
Due: svelte-lint, svelte-typecheck, svelte-test

fix: resolve Docker GraphQL server health check failures
  Dockerfile
  Dockerfile.server
  graphql-server/package.json
  graphql-server/src/graphql/index.ts
Due: graphql-lint, graphql-typecheck, graphql-test

fix: resolve failing CI/CD and Release pipelines
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .releaserc.json
Due: none

feat: enable update-dependencies workflow on pull requests
  .github/workflows/update-dependencies.yml
Due: none

chore: update dependencies (minor)
  frontend/package.json
  graphql-server/package.json
  package-lock.json
  package.json
Due: none
